#contact #hero {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right -64px bottom -64px;
  position: relative;
  text-align: center;
  padding: 170px 0 128px 0;
  padding-bottom: 60px !important;
  margin-bottom: 30px; }
  @media (max-width: 599px) {
    #contact #hero {
      background-size: 150%;
      background-position: center bottom;
      padding-top: 80px;
      padding-bottom: 350px; } }
  #contact #hero .container {
    padding-left: 120px; }
  #contact #hero header small {
    display: block;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    color: #344563;
    font-weight: 700;
    font-style: normal; }
  #contact #hero header h1,
  #contact #hero header h2 {
    max-width: 620px;
    font-size: 65px;
    line-height: 64px;
    letter-spacing: -0.01em;
    font-weight: 900;
    margin-bottom: 40px; }
    #contact #hero header h1 em,
    #contact #hero header h2 em {
      font-style: normal;
      color: #09800F; }
  #contact #hero header p {
    max-width: 395px;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 40px; }
  @media (max-width: 599px) {
    #contact #hero header {
      width: 100%; }
      #contact #hero header h1,
      #contact #hero header h2 {
        font-size: 43px;
        line-height: 43px;
        margin-bottom: 20px; }
      #contact #hero header p {
        font-size: 16px;
        line-height: 23px; } }
  #contact #hero footer a.hero-button {
    margin-bottom: 16px; }
  #contact #hero footer small {
    display: block;
    font-size: 16px;
    color: #344563; }
  @media (max-width: 599px) {
    #contact #hero footer small {
      font-size: 12px;
      line-height: 28px; } }
  @media (max-width: 768px) {
    #contact #hero .container {
      padding: 0 40px; } }
  #contact #hero header h1,
  #contact #hero header p {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px; }
  #contact #hero #top-accent {
    position: absolute;
    top: 0;
    left: 70%;
    background-size: contain;
    width: 294px;
    height: 252px;
    position: absolute;
    top: 120px;
    left: 75%; }
    @media (min-width: 1400px) {
      #contact #hero #top-accent {
        left: 66%; } }
  #contact #hero #bottom-accent {
    position: absolute;
    bottom: -150px;
    left: 20%;
    height: 286px;
    width: 311px; }

#contact #contact-form {
  padding: 80px 0; }
  #contact #contact-form .module {
    display: flex; }
    #contact #contact-form .module .module-form-intro {
      padding: 0 64px;
      width: 35%; }
      #contact #contact-form .module .module-form-intro img {
        max-width: 100%; }
    #contact #contact-form .module .module-form {
      width: 60%;
      color: #212e44; }
      #contact #contact-form .module .module-form form ul.inputs-list,
      #contact #contact-form .module .module-form form ul.hs-error-msgs {
        padding: 0; }
        #contact #contact-form .module .module-form form ul.inputs-list li,
        #contact #contact-form .module .module-form form ul.hs-error-msgs li {
          list-style: none; }
      #contact #contact-form .module .module-form form ul.hs-error-msgs li label {
        font-weight: normal;
        color: red; }
      #contact #contact-form .module .module-form form label {
        font-weight: bold;
        font-size: 18px;
        line-height: 150%; }
      #contact #contact-form .module .module-form form fieldset {
        margin-bottom: 20px; }
      #contact #contact-form .module .module-form form textarea.hs-input,
      #contact #contact-form .module .module-form form select.hs-input {
        outline: none;
        -webkit-appearance: none;
                appearance: none; }
      #contact #contact-form .module .module-form form textarea.hs-input,
      #contact #contact-form .module .module-form form select.hs-input,
      #contact #contact-form .module .module-form form input.hs-input {
        position: relative;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.06);
        padding: 20px 24px; }
        #contact #contact-form .module .module-form form textarea.hs-input:active, #contact #contact-form .module .module-form form textarea.hs-input:focus,
        #contact #contact-form .module .module-form form select.hs-input:active,
        #contact #contact-form .module .module-form form select.hs-input:focus,
        #contact #contact-form .module .module-form form input.hs-input:active,
        #contact #contact-form .module .module-form form input.hs-input:focus {
          border: 2px rgba(0, 0, 0, 0.5) solid; }
      #contact #contact-form .module .module-form form textarea.hs-input {
        height: 220px; }
      #contact #contact-form .module .module-form form .legal-consent-container label {
        line-height: 100%; }
      #contact #contact-form .module .module-form form .legal-consent-container input.hs-input {
        margin-top: 4px; }
      #contact #contact-form .module .module-form form .hs_teammembercount,
      #contact #contact-form .module .module-form form .hs_socialprofilecount {
        position: relative; }
        #contact #contact-form .module .module-form form .hs_teammembercount div.input:after,
        #contact #contact-form .module .module-form form .hs_socialprofilecount div.input:after {
          content: ' ';
          position: absolute;
          bottom: 28px;
          right: 45px;
          width: 14px;
          height: 9px;
          background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.75 2.16406L6.75 7.16406L1.75 2.16406' stroke='%23212E44' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); }
  @media (max-width: 768px) {
    #contact #contact-form {
      padding: 40px 0; }
      #contact #contact-form .module {
        flex-direction: column; }
        #contact #contact-form .module .module-form-intro {
          margin: 0;
          width: 100%; }
          #contact #contact-form .module .module-form-intro img {
            max-width: 66%;
            margin: 20px auto;
            display: block; }
        #contact #contact-form .module .module-form {
          width: 100%; }
          #contact #contact-form .module .module-form form fieldset {
            margin: 0 auto 20px auto; }
          #contact #contact-form .module .module-form form .hs-submit {
            display: flex;
            justify-content: center; } }
  @media (min-width: 769px) and (max-width: 900px), (max-width: 575px) {
    #contact #contact-form form .form-columns-2 {
      margin-bottom: 0 !important; }
      #contact #contact-form form .form-columns-2 .hs_firstname,
      #contact #contact-form form .form-columns-2 .hs_lastname {
        float: none !important;
        width: 95% !important;
        margin-bottom: 20px !important; }
        #contact #contact-form form .form-columns-2 .hs_firstname input,
        #contact #contact-form form .form-columns-2 .hs_lastname input {
          width: 100% !important; } }
  @media (max-width: 599px) {
    #contact #contact-form .module .module-form-intro {
      padding-left: 0;
      padding-right: 0; } }

@media (max-width: 768px) {
  #contact #hero {
    padding: 80px 0; }
    #contact #hero header h2,
    #contact #hero header p {
      max-width: none;
      padding-left: 40px;
      padding-right: 40px; }
    #contact #hero #top-accent,
    #contact #hero #bottom-accent {
      display: none; } }


/*# sourceMappingURL=contact_us.css.map*/