#hootsuite-hub .hootsuite-header {
  display: grid;
  align-items: start;
  padding: 118px 21px 65px 30px;
  background: #f5fdff;
  overflow: hidden; }
  @media (min-width: 1200px) {
    #hootsuite-hub .hootsuite-header {
      grid-template-columns: 667px auto;
      padding: 220px 0 90px 80px; } }
  @media (min-width: 1400px) {
    #hootsuite-hub .hootsuite-header {
      padding-left: 19%; } }
  #hootsuite-hub .hootsuite-header-img {
    position: relative;
    top: -60px;
    max-height: 240px; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-header-img {
        max-height: 455px; } }
    #hootsuite-hub .hootsuite-header-img-desktop {
      display: none; }
      @media (min-width: 1200px) {
        #hootsuite-hub .hootsuite-header-img-desktop {
          display: block;
          position: absolute;
          right: 0;
          width: 123%;
          top: -40px;
          max-width: 850px; } }
  #hootsuite-hub .hootsuite-header-content-title {
    font-weight: 900;
    font-size: 43px;
    line-height: 43px;
    letter-spacing: -0.01em;
    margin-bottom: 20px; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-header-content-title {
        font-size: 65px;
        line-height: 64px;
        margin-bottom: 28px; } }
    #hootsuite-hub .hootsuite-header-content-title span {
      color: #3a9efe; }
  #hootsuite-hub .hootsuite-header-content-text {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 32px; }
    @media (max-width: 599px) {
      #hootsuite-hub .hootsuite-header-content-text {
        margin-bottom: 40px; } }
  #hootsuite-hub .hootsuite-header-content-images {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: repeat(4, max-content);
    align-items: center; }
    @media (max-width: 599px) {
      #hootsuite-hub .hootsuite-header-content-images img {
        max-width: 80%; } }
    @media (max-width: 599px) {
      #hootsuite-hub .hootsuite-header-content-images {
        grid-column-gap: 0; } }
  #hootsuite-hub .hootsuite-header-content-info {
    margin-top: 8px;
    color: #344563;
    font-size: 16px !important;
    line-height: 23px !important; }
    @media (max-width: 599px) {
      #hootsuite-hub .hootsuite-header-content-info {
        font-size: 12px !important;
        line-height: 28px !important;
        color: #5d6a82; } }
  #hootsuite-hub .hootsuite-header-content .secondary-button {
    position: relative;
    padding: 20px 27px 20px 20px;
    box-shadow: 0px 19px 40px -10px rgba(58, 158, 254, 0.13);
    color: white;
    background: #3a9efe; }
    #hootsuite-hub .hootsuite-header-content .secondary-button:hover {
      box-shadow: 0px 19px 40px -10px rgba(58, 158, 254, 0.13);
      color: #3a9efe;
      background: white;
      cursor: pointer; }

#hootsuite-hub .hootsuite-reasons {
  padding: 100px 0 0 0; }
  @media (min-width: 1200px) {
    #hootsuite-hub .hootsuite-reasons {
      padding: 140px 0 140px 100px; } }

@keyframes progress-bar-animation {
  0% {
    width: 0; } }
  @media (max-width: 599px) {
    #hootsuite-hub .hootsuite-reasons {
      max-width: 100%;
      padding-left: 24px; } }
  #hootsuite-hub .hootsuite-reasons-title {
    font-weight: 900;
    line-height: 40px;
    font-size: 35px;
    letter-spacing: -0.01em;
    color: #212e44;
    padding-bottom: 50px; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-reasons-title {
        font-size: 50px;
        line-height: 50px;
        text-align: center; } }
    @media (max-width: 599px) {
      #hootsuite-hub .hootsuite-reasons-title {
        padding-right: 24px; } }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-reasons-title {
        padding-bottom: 110px;
        padding-right: 100px; } }
  #hootsuite-hub .hootsuite-reasons-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 47px; }
    @media (max-width: 599px) {
      #hootsuite-hub .hootsuite-reasons-nav {
        margin-bottom: 77px;
        display: block;
        overflow: visible !important; } }
    #hootsuite-hub .hootsuite-reasons-nav-item {
      font-weight: bold;
      font-size: 17px;
      color: #212e44;
      list-style: none;
      margin-right: 30px;
      position: relative; }
      @media (min-width: 1200px) {
        #hootsuite-hub .hootsuite-reasons-nav-item {
          font-size: 22px;
          margin-right: 45px; } }
      #hootsuite-hub .hootsuite-reasons-nav-item:hover {
        cursor: pointer; }
      #hootsuite-hub .hootsuite-reasons-nav-item.active::before, #hootsuite-hub .hootsuite-reasons-nav-item.active::after {
        content: '';
        height: 4px;
        border-radius: 20px;
        position: absolute;
        bottom: -14px; }
      #hootsuite-hub .hootsuite-reasons-nav-item.active::before {
        width: 100%;
        background: rgba(58, 158, 254, 0.19); }
      #hootsuite-hub .hootsuite-reasons-nav-item.active::after {
        width: 100%;
        background: #3a9efe;
        animation: progress-bar-animation 1s ease forwards;
        left: 0; }
  #hootsuite-hub .hootsuite-reasons-list {
    position: relative;
    min-height: 600px; }
    @media (max-width: 599px) {
      #hootsuite-hub .hootsuite-reasons-list {
        margin-right: 24px; } }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-reasons-list {
        min-height: 400px; } }
    #hootsuite-hub .hootsuite-reasons-list-item {
      position: absolute;
      top: 0;
      opacity: 0;
      display: grid;
      align-items: center; }
      @media (min-width: 1200px) {
        #hootsuite-hub .hootsuite-reasons-list-item {
          grid-template-columns: 1.1fr 1fr;
          grid-column-gap: 65px; } }
      #hootsuite-hub .hootsuite-reasons-list-item-content {
        width: 100%;
        margin-top: 50px;
        order: 1;
        position: relative;
        left: -200px;
        opacity: 0;
        transition: left 0.3s ease, opacity 2s ease; }
        @media (min-width: 1200px) {
          #hootsuite-hub .hootsuite-reasons-list-item-content {
            order: 0;
            margin: -17px 80px 0 0; } }
        @media (max-width: 599px) {
          #hootsuite-hub .hootsuite-reasons-list-item-content {
            margin-top: 32px; } }
        #hootsuite-hub .hootsuite-reasons-list-item-content-title {
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: -0.01em;
          text-align: left;
          margin-bottom: 16px; }
          @media (min-width: 1200px) {
            #hootsuite-hub .hootsuite-reasons-list-item-content-title {
              font-weight: 900;
              line-height: 40px;
              font-size: 35px;
              letter-spacing: -0.01em;
              color: #212e44;
              margin-bottom: 32px;
              text-align: left !important; } }
  @media (min-width: 1200px) and (min-width: 1200px) {
    #hootsuite-hub .hootsuite-reasons-list-item-content-title {
      font-size: 50px;
      line-height: 50px;
      text-align: center; } }
        #hootsuite-hub .hootsuite-reasons-list-item-content-text {
          color: #344563;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px; }
          @media (min-width: 1200px) {
            #hootsuite-hub .hootsuite-reasons-list-item-content-text {
              font-size: 18px;
              line-height: 150%; } }
          @media (min-width: 1200px) {
            #hootsuite-hub .hootsuite-reasons-list-item-content-text {
              max-width: 80%; } }
        #hootsuite-hub .hootsuite-reasons-list-item-content-link {
          color: #3a9efe;
          text-decoration: none;
          font-weight: bold;
          margin-top: 35px;
          font-size: 18px;
          position: absolute;
          z-index: 99;
          margin-top: 0px; }
          #hootsuite-hub .hootsuite-reasons-list-item-content-link:hover {
            cursor: pointer; }
      #hootsuite-hub .hootsuite-reasons-list-item.active {
        opacity: 1; }
        #hootsuite-hub .hootsuite-reasons-list-item.active .hootsuite-reasons-list-item-content {
          left: 0;
          opacity: 1; }
      #hootsuite-hub .hootsuite-reasons-list-item-progress {
        width: 100%;
        max-width: 505px;
        background: #f5fdff;
        border-radius: 16px;
        padding: 23px 20px; }
        @media (min-width: 1200px) {
          #hootsuite-hub .hootsuite-reasons-list-item-progress {
            position: relative;
            left: -100px;
            top: -3px;
            padding: 32px; } }
        #hootsuite-hub .hootsuite-reasons-list-item-progress-title {
          color: #212e44;
          font-weight: bold;
          font-size: 24px;
          margin-bottom: 27px; }
          @media (max-width: 599px) {
            #hootsuite-hub .hootsuite-reasons-list-item-progress-title {
              font-size: 16px;
              margin-bottom: 20px; } }
        #hootsuite-hub .hootsuite-reasons-list-item-progress-source {
          text-align: center;
          margin-top: 32px;
          margin-bottom: 0; }
          #hootsuite-hub .hootsuite-reasons-list-item-progress-source a {
            color: #5d6a82;
            font-weight: bold;
            text-decoration: underline;
            font-size: 1rem; }
        #hootsuite-hub .hootsuite-reasons-list-item-progress .progress-bar-agora-pulse img {
          width: 100%;
          max-width: 80px;
          margin-bottom: 16px; }
          @media (min-width: 1200px) {
            #hootsuite-hub .hootsuite-reasons-list-item-progress .progress-bar-agora-pulse img {
              max-width: 130px; } }
        #hootsuite-hub .hootsuite-reasons-list-item-progress .progress {
          background: #d6dae0;
          border-radius: 100px; }
          #hootsuite-hub .hootsuite-reasons-list-item-progress .progress-bar {
            border-radius: 100px;
            text-align: right;
            padding-right: 10px;
            font-weight: bold;
            animation: progress-bar-animation 1s ease forwards; }
            @media (max-width: 599px) {
              #hootsuite-hub .hootsuite-reasons-list-item-progress .progress-bar {
                max-height: 15px !important;
                font-size: 11px; } }
            #hootsuite-hub .hootsuite-reasons-list-item-progress .progress-bar-title {
              margin: 32px auto 16px auto;
              font-weight: bold;
              font-size: 18px;
              line-height: 17px;
              color: #212e44; }
              @media (max-width: 599px) {
                #hootsuite-hub .hootsuite-reasons-list-item-progress .progress-bar-title {
                  font-size: 12px !important;
                  margin: 15px auto 10px auto; } }
        #hootsuite-hub .hootsuite-reasons-list-item-progress .progress-bar-full .progress-bar {
          background: #3a9efe; }
        #hootsuite-hub .hootsuite-reasons-list-item-progress .progress-bar-half .progress-bar {
          background: #aeb5c1;
          border-radius: 100px; }

#hootsuite-hub .hootsuite-do-more {
  background: #f6f5ff;
  border-radius: 20px;
  padding: 30px;
  margin: 52px auto 146px auto;
  position: relative;
  display: flex;
  flex-direction: column; }
  @media (min-width: 1200px) {
    #hootsuite-hub .hootsuite-do-more {
      text-align: center;
      padding: 87px 92px 68px 92px; } }
  #hootsuite-hub .hootsuite-do-more-img {
    order: -1;
    width: 100%;
    max-width: 230px; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-do-more-img {
        max-width: 300px;
        position: absolute;
        left: 68px;
        top: 186px;
        order: 0; } }
  #hootsuite-hub .hootsuite-do-more-title {
    font-weight: 900;
    line-height: 40px;
    font-size: 35px;
    letter-spacing: -0.01em;
    color: #212e44;
    margin: 32px auto 20px auto; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-do-more-title {
        font-size: 50px;
        line-height: 50px;
        text-align: center; } }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-do-more-title {
        margin: 0 auto 40px auto; } }
  #hootsuite-hub .hootsuite-do-more-text {
    color: #344563;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 45px; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-do-more-text {
        font-size: 18px;
        line-height: 150%; } }
  #hootsuite-hub .hootsuite-do-more-btn {
    position: relative;
    padding: 12px 64px 14px 27px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 0 24px 0;
    color: #fff;
    background: #7a66f0; }
    #hootsuite-hub .hootsuite-do-more-btn::after {
      content: '';
      width: 22px;
      height: 14px;
      position: absolute;
      bottom: 25px;
      right: 25px;
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.25' y1='7.75' x2='17.75' y2='7.75' stroke='%23FF6726' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='M16 2L20 7.5L16 13' stroke='%23FF6726' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.25' y1='7.75' x2='17.75' y2='7.75' stroke='rgb(255,255,255)' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='M16 2L20 7.5L16 13' stroke='rgb(255,255,255)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-do-more-btn {
        margin: 0 auto 24px auto;
        color: #7a66f0;
        background: #fff;
        box-shadow: 0px 19px 40px -10px rgba(122, 102, 240, 0.3); }
        #hootsuite-hub .hootsuite-do-more-btn::after {
          content: '';
          width: 22px;
          height: 14px;
          position: absolute;
          bottom: 25px;
          right: 25px;
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.25' y1='7.75' x2='17.75' y2='7.75' stroke='%23FF6726' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='M16 2L20 7.5L16 13' stroke='%23FF6726' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          content: '';
          right: 20px;
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.25' y1='7.75' x2='17.75' y2='7.75' stroke='rgb(122,102,240)' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='M16 2L20 7.5L16 13' stroke='rgb(122,102,240)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); } }
  #hootsuite-hub .hootsuite-do-more-info {
    font-size: 16px;
    line-height: 23px;
    color: #344563;
    margin-bottom: 0; }

@media (min-width: 1200px) {
  #hootsuite-hub .hootsuite-outperforms {
    padding-left: 100px; } }

#hootsuite-hub .hootsuite-outperforms-title {
  font-weight: 900;
  line-height: 40px;
  font-size: 35px;
  letter-spacing: -0.01em;
  color: #212e44;
  margin-bottom: 125px; }
  @media (min-width: 1200px) {
    #hootsuite-hub .hootsuite-outperforms-title {
      font-size: 50px;
      line-height: 50px;
      text-align: center; } }
  @media (max-width: 991px) {
    #hootsuite-hub .hootsuite-outperforms-title {
      margin: 0 0 50px 0; } }
  @media (min-width: 1200px) {
    #hootsuite-hub .hootsuite-outperforms-title {
      padding-right: 100px; } }

#hootsuite-hub .hootsuite-outperforms-content {
  display: flex;
  align-items: center; }
  @media (max-width: 991px) {
    #hootsuite-hub .hootsuite-outperforms-content {
      flex-direction: column; } }

@media (max-width: 599px) {
  #hootsuite-hub .hootsuite-outperforms.container {
    padding: 0; } }

#hootsuite-hub .hootsuite-outperforms .outperforms-desktop-arrows {
  position: relative;
  left: -74px;
  top: 8px; }
  @media (max-width: 1024px) {
    #hootsuite-hub .hootsuite-outperforms .outperforms-desktop-arrows {
      display: none; } }

#hootsuite-hub .hootsuite-outperforms .outperforms-nav {
  padding-left: 0;
  width: 100%;
  max-height: 415px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  margin-bottom: 0; }
  @media (min-width: 1200px) {
    #hootsuite-hub .hootsuite-outperforms .outperforms-nav {
      width: 46%; } }
  #hootsuite-hub .hootsuite-outperforms .outperforms-nav:hover {
    cursor: pointer; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-nav::-webkit-scrollbar {
    display: none; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-nav-item {
    scroll-snap-align: start;
    list-style: none;
    border-bottom: 1px solid #ecd5e7;
    padding: 40px 30px;
    font-size: 22px;
    line-height: 30px;
    color: #aeb5c1;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0 10px 0 0; }
    @media (max-width: 991px) {
      #hootsuite-hub .hootsuite-outperforms .outperforms-nav-item {
        display: none;
        border-bottom: none;
        padding: 30px 2px 30px 7px; } }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-outperforms .outperforms-nav-item {
        max-width: 86%; } }
    #hootsuite-hub .hootsuite-outperforms .outperforms-nav-item-number {
      background: #eaecef;
      font-size: 50px;
      color: #212e44;
      border-radius: 50%;
      width: 64px;
      height: 64px;
      text-align: center;
      margin-right: 20px;
      display: none; }
      @media (max-width: 599px) {
        #hootsuite-hub .hootsuite-outperforms .outperforms-nav-item-number {
          font-size: 31px;
          width: auto;
          height: 40px;
          margin-right: 9px;
          margin-left: -7px; } }
    #hootsuite-hub .hootsuite-outperforms .outperforms-nav-item.active {
      color: #212e44;
      display: grid;
      grid-template-columns: 74px 1fr;
      grid-column-gap: 5px; }
      @media (max-width: 599px) {
        #hootsuite-hub .hootsuite-outperforms .outperforms-nav-item.active {
          grid-template-columns: 46px 1fr; } }
      @media (min-width: 1200px) {
        #hootsuite-hub .hootsuite-outperforms .outperforms-nav-item.active {
          padding-left: 0; } }
      #hootsuite-hub .hootsuite-outperforms .outperforms-nav-item.active .outperforms-nav-item-number {
        display: flex;
        align-items: center;
        justify-content: center; }

#hootsuite-hub .hootsuite-outperforms .outperforms-content {
  width: 100%;
  position: relative; }
  @media (min-width: 1200px) {
    #hootsuite-hub .hootsuite-outperforms .outperforms-content {
      max-width: 495px; } }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-content {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.8s ease; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-content {
        flex-direction: row; } }
    #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-content.active {
      display: flex;
      align-items: center;
      flex-direction: column;
      opacity: 1;
      position: relative;
      border-radius: 12px;
      padding: 56px;
      transform: scale(1); }
      @media (max-width: 599px) {
        #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-content.active {
          padding: 40px 20px 20px 20px; } }
      #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-content.active .outperforms-item-content-img {
        position: absolute;
        top: -66px;
        right: -38px;
        width: auto;
        max-width: 115px; }
        @media (max-width: 599px) {
          #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-content.active .outperforms-item-content-img {
            max-width: 80px;
            top: -37px;
            right: -10px; } }
      #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-content.active p {
        line-height: 150%; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content p {
    margin-bottom: 0; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-one-content {
    background: #fff9f4; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-two-content {
    background: #e6f9ff; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-three-content {
    background: #f3fffe; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-four-content {
    background: #f6f8ff; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-five-content {
    background: #fff9f4; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-six-content {
    background: #f5fdff; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-seven-content {
    background: #f3fffe; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-eight-content {
    background: #f6f8ff; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-nine-content {
    background: #f6f8ff; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-ten-content {
    background: #f5fdff; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-content .outperforms-item-eleven-content {
    background: #f3fffe; }

#hootsuite-hub .hootsuite-outperforms .outperforms-slider-up,
#hootsuite-hub .hootsuite-outperforms .outperforms-slider-down {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3a9efe;
  background: #fff; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-up::before,
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-down::before {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 17px;
    height: 17px;
    content: '';
    position: relative;
    top: 2px; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-up:hover,
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-down:hover {
    cursor: pointer; }

#hootsuite-hub .hootsuite-outperforms .outperforms-slider-up {
  margin-bottom: 15px; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-up::before {
    background-image: url("/assets/outperforms-arrow-up.svg"); }

#hootsuite-hub .hootsuite-outperforms .outperforms-slider-down::before {
  top: 4px;
  background-image: url("/assets/outperforms-arrow-down.svg"); }

@media (max-width: 991px) {
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-prev,
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-next {
    box-shadow: 0px 0px 3px -1px #b5afaf;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px; }
    #hootsuite-hub .hootsuite-outperforms .outperforms-slider-prev::before,
    #hootsuite-hub .hootsuite-outperforms .outperforms-slider-next::before {
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      width: 17px;
      height: 17px;
      content: '';
      position: relative; }
  #hootsuite-hub .hootsuite-outperforms .hootsuite-outperforms-content {
    position: relative; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-up,
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-down {
    width: 0;
    height: 0; }
    #hootsuite-hub .hootsuite-outperforms .outperforms-slider-up::before,
    #hootsuite-hub .hootsuite-outperforms .outperforms-slider-down::before {
      background-image: unset; }
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-prev {
    left: 0; }
    #hootsuite-hub .hootsuite-outperforms .outperforms-slider-prev::before {
      left: 1px;
      background-image: url("/assets/outperforms-slider-prev.svg"); }
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider-next {
    right: 0; }
    #hootsuite-hub .hootsuite-outperforms .outperforms-slider-next::before {
      left: 3px;
      background-image: url("/assets/outperforms-slider-next.svg"); } }

@media (max-width: 991px) {
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider {
    max-height: unset;
    width: 70%;
    margin: 0 auto 70px auto; } }

@media (max-width: 599px) {
  #hootsuite-hub .hootsuite-outperforms .outperforms-slider .outperforms-slider {
    width: 80%; } }

#hootsuite-hub .hootsuite-videos-wrapper {
  margin-top: 180px; }
  @media (min-width: 1400px) {
    #hootsuite-hub .hootsuite-videos-wrapper .slider-wrapper {
      margin: 0 60px 0 186px; } }
  #hootsuite-hub .hootsuite-videos-wrapper .tns-controls {
    position: absolute;
    right: 250px;
    margin-top: -72px; }
  #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 20px;
    margin-top: 24px; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        position: absolute;
        right: 150px;
        margin-top: -71px; } }
    @media (min-width: 1400px) {
      #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows {
        right: 350px; } }
  #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows-next,
  #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows-prev {
    box-shadow: 0px 0px 3px -1px #b5afaf;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows-next:hover,
    #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows-prev:hover {
      cursor: pointer; }
    #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows-next::before,
    #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows-prev::before {
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      width: 17px;
      height: 17px;
      content: '';
      position: relative; }
  #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows-next {
    left: 0;
    border: 1px solid #3a9efe; }
    #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows-next::before {
      left: 1px;
      background-image: url("/assets/testimonials-slider-arrow-next.svg"); }
  #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows-prev {
    right: 0;
    background: #3a9efe; }
    #hootsuite-hub .hootsuite-videos-wrapper .hootsuite-videos-nav-arrows-prev::before {
      left: 3px;
      background-image: url("/assets/slider-arrow-prev.svg"); }

#hootsuite-hub .hootsuite-videos-nav {
  max-width: 1028px; }
  #hootsuite-hub .hootsuite-videos-nav-title {
    font-weight: 900;
    line-height: 40px;
    font-size: 35px;
    letter-spacing: -0.01em;
    color: #212e44;
    text-align: left !important; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-videos-nav-title {
        font-size: 50px;
        line-height: 50px;
        text-align: center; } }

#hootsuite-hub .hootsuite-videos .more-stories-button {
  display: none; }
  @media (max-width: 599px) {
    #hootsuite-hub .hootsuite-videos .more-stories-button {
      font-size: 16px;
      line-height: 20px;
      padding: 13px 49px 13px 14px !important; } }
  @media (max-width: 599px) {
    #hootsuite-hub .hootsuite-videos .more-stories-button::after {
      bottom: 15px; } }

#hootsuite-hub .hootsuite-videos .story-card .container {
  max-width: 100%; }
  @media (max-width: 599px) {
    #hootsuite-hub .hootsuite-videos .story-card .container {
      padding: 15px; } }

#hootsuite-hub .hootsuite-videos .story-card header {
  max-width: 100% !important;
  height: 300px; }
  #hootsuite-hub .hootsuite-videos .story-card header .story-play-button {
    width: 60px;
    height: 60px; }
    #hootsuite-hub .hootsuite-videos .story-card header .story-play-button::after {
      position: relative;
      left: 2px;
      background-size: cover;
      width: 19px;
      height: 22px; }
      @media (max-width: 599px) {
        #hootsuite-hub .hootsuite-videos .story-card header .story-play-button::after {
          width: 33px;
          height: 43px; } }
  #hootsuite-hub .hootsuite-videos .story-card header h5 {
    font-size: 16px;
    text-align: center; }
    @media (max-width: 1024px) {
      #hootsuite-hub .hootsuite-videos .story-card header h5 {
        top: 74%; } }
    @media (max-width: 599px) {
      #hootsuite-hub .hootsuite-videos .story-card header h5 {
        padding: 0 10px 20px 10px;
        top: 80%;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; } }

#hootsuite-hub .hootsuite-videos .story-card blockquote {
  display: none;
  padding: 45px 0 0 82px !important;
  max-width: 93% !important; }
  @media (max-width: 991px) {
    #hootsuite-hub .hootsuite-videos .story-card blockquote {
      padding-left: 0 !important;
      max-width: 100% !important;
      font-size: 20px;
      line-height: 23px; } }

#hootsuite-hub .hootsuite-blog-articles {
  margin-top: 48px; }
  #hootsuite-hub .hootsuite-blog-articles-title {
    font-weight: 900;
    line-height: 40px;
    font-size: 35px;
    letter-spacing: -0.01em;
    color: #212e44;
    margin-bottom: 24px; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-blog-articles-title {
        font-size: 50px;
        line-height: 50px;
        text-align: center; } }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-blog-articles-title {
        margin-bottom: 32px; } }
  #hootsuite-hub .hootsuite-blog-articles-subtitle {
    color: #344563;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-blog-articles-subtitle {
        font-size: 18px;
        line-height: 150%; } }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-blog-articles-subtitle {
        text-align: center;
        max-width: 60%; } }
  #hootsuite-hub .hootsuite-blog-articles-content {
    display: grid;
    margin-top: 40px; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-blog-articles-content {
        max-height: 568px;
        margin-top: 80px;
        grid-template-columns: 1fr 1.2fr; } }
    #hootsuite-hub .hootsuite-blog-articles-content .hootsuite-blog-articles-content-left,
    #hootsuite-hub .hootsuite-blog-articles-content .hootsuite-blog-articles-content-right {
      display: grid;
      grid-gap: 14px;
      grid-template-rows: repeat(2, 1fr); }
    #hootsuite-hub .hootsuite-blog-articles-content .hootsuite-blog-articles-content-left {
      grid-template-columns: 1fr 2fr;
      margin-right: 14px; }
      @media (max-width: 991px) {
        #hootsuite-hub .hootsuite-blog-articles-content .hootsuite-blog-articles-content-left {
          margin: 0 0 14px 0; } }
      #hootsuite-hub .hootsuite-blog-articles-content .hootsuite-blog-articles-content-left .blog-article:nth-child(3) {
        grid-column: 2 span; }
    #hootsuite-hub .hootsuite-blog-articles-content .hootsuite-blog-articles-content-right {
      grid-template-columns: repeat(2, 1fr); }
      #hootsuite-hub .hootsuite-blog-articles-content .hootsuite-blog-articles-content-right .blog-article:nth-child(1) {
        grid-row: 2 span; }
    #hootsuite-hub .hootsuite-blog-articles-content .blog-article-link {
      position: relative;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #fff;
      display: flex;
      height: 100%;
      overflow: hidden; }
      #hootsuite-hub .hootsuite-blog-articles-content .blog-article-link-img {
        width: 100%;
        object-fit: cover;
        transition: transform 0.4s; }
        #hootsuite-hub .hootsuite-blog-articles-content .blog-article-link-img:hover {
          transform: scale(1.1); }
        @media (max-width: 599px) {
          #hootsuite-hub .hootsuite-blog-articles-content .blog-article-link-img {
            min-height: 170px; } }
      #hootsuite-hub .hootsuite-blog-articles-content .blog-article-link-text {
        position: absolute;
        bottom: 16px;
        left: 16px;
        margin-bottom: 0;
        padding-right: 16px; }
        @media (min-width: 1200px) {
          #hootsuite-hub .hootsuite-blog-articles-content .blog-article-link-text {
            font-size: 24px;
            line-height: 30px; } }
    #hootsuite-hub .hootsuite-blog-articles-content .blog-article:first-child .blog-article-link-text {
      left: 8px; }
      @media (min-width: 1200px) {
        #hootsuite-hub .hootsuite-blog-articles-content .blog-article:first-child .blog-article-link-text {
          left: 16px; } }

#hootsuite-hub .hootsuite-rating {
  margin-top: 200px; }
  @media (max-width: 768px) {
    #hootsuite-hub .hootsuite-rating {
      padding: 0 20px;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    #hootsuite-hub .hootsuite-rating {
      padding-left: 100px; } }
  #hootsuite-hub .hootsuite-rating-title {
    font-weight: 900;
    line-height: 40px;
    font-size: 35px;
    letter-spacing: -0.01em;
    color: #212e44;
    margin-bottom: 32px; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-rating-title {
        font-size: 50px;
        line-height: 50px;
        text-align: center; } }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-rating-title {
        padding-right: 100px; } }
  #hootsuite-hub .hootsuite-rating-subtitle {
    color: #344563;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 64px auto; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-rating-subtitle {
        font-size: 18px;
        line-height: 150%; } }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-rating-subtitle {
        text-align: center;
        max-width: 80%;
        padding-right: 100px; } }
  #hootsuite-hub .hootsuite-rating-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
    padding-left: 0; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-rating-nav {
        padding-right: 100px; } }
    #hootsuite-hub .hootsuite-rating-nav-item {
      padding: 22px 32px;
      background: #f9f9fa;
      border-radius: 10px;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #212e44;
      list-style: none;
      margin: 0 8px; }
      #hootsuite-hub .hootsuite-rating-nav-item:hover {
        cursor: pointer; }
      @media (max-width: 768px) {
        #hootsuite-hub .hootsuite-rating-nav-item {
          font-size: 13px;
          padding: 15px 23px;
          margin: 0 5px 0 0; } }
      #hootsuite-hub .hootsuite-rating-nav-item.active {
        background: rgba(58, 158, 254, 0.1);
        color: #3a9efe; }
  #hootsuite-hub .hootsuite-rating-content {
    position: relative;
    height: 800px; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-rating-content {
        height: 600px; } }
    #hootsuite-hub .hootsuite-rating-content-item {
      opacity: 0;
      position: absolute;
      top: 0; }

@keyframes slide-in-left {
  0% {
    left: -100px; }
  25% {
    left: -75px; }
  50% {
    left: -55px; }
  75% {
    left: -35px; }
  100% {
    left: 0; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
      @media (min-width: 1200px) {
        #hootsuite-hub .hootsuite-rating-content-item-text {
          position: absolute;
          animation: slide-in-left 0.4s, fade-in 0.8s; } }
      @media (min-width: 1200px) {
        #hootsuite-hub .hootsuite-rating-content-item-text {
          max-width: 67%; } }
      #hootsuite-hub .hootsuite-rating-content-item-text-title {
        font-weight: 900;
        line-height: 40px;
        font-size: 35px;
        letter-spacing: -0.01em;
        color: #212e44;
        text-align: left !important;
        margin-bottom: 16px; }
        @media (min-width: 1200px) {
          #hootsuite-hub .hootsuite-rating-content-item-text-title {
            font-size: 50px;
            line-height: 50px;
            text-align: center; } }
        @media (min-width: 1200px) {
          #hootsuite-hub .hootsuite-rating-content-item-text-title {
            margin-bottom: 0 auto 40px auto; } }
        @media (max-width: 599px) {
          #hootsuite-hub .hootsuite-rating-content-item-text-title {
            font-size: 20px;
            line-height: 25px; } }
      #hootsuite-hub .hootsuite-rating-content-item-text-desc {
        color: #344563;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 32px; }
        @media (min-width: 1200px) {
          #hootsuite-hub .hootsuite-rating-content-item-text-desc {
            font-size: 18px;
            line-height: 150%; } }
        @media (min-width: 1200px) {
          #hootsuite-hub .hootsuite-rating-content-item-text-desc {
            max-width: 350px; } }
      #hootsuite-hub .hootsuite-rating-content-item-text-btn {
        font-weight: bold;
        padding: 20px 60px 20px 20px;
        position: relative; }
        @media (max-width: 599px) {
          #hootsuite-hub .hootsuite-rating-content-item-text-btn {
            font-size: 14px; } }
        #hootsuite-hub .hootsuite-rating-content-item-text-btn::after {
          content: '';
          width: 22px;
          height: 14px;
          position: absolute;
          bottom: 25px;
          right: 25px;
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.25' y1='7.75' x2='17.75' y2='7.75' stroke='%23FF6726' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='M16 2L20 7.5L16 13' stroke='%23FF6726' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          content: ''; }
      #hootsuite-hub .hootsuite-rating-content-item-box {
        border-radius: 20px;
        padding: 70px 15px 15px;
        text-align: center;
        margin: 0 auto;
        order: -1;
        max-height: 445px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 100%;
        animation: fade-in 0.8s; }
        @media (min-width: 1200px) {
          #hootsuite-hub .hootsuite-rating-content-item-box {
            order: 0;
            padding: 80px 50px 50px;
            position: absolute;
            right: 94px;
            max-height: 500px;
            width: 500px; } }
        #hootsuite-hub .hootsuite-rating-content-item-box::before {
          background-image: url("/assets/pricing-box-curve.svg");
          background-size: cover;
          width: 434px;
          height: 203px;
          display: inline-block;
          position: absolute;
          top: -106px;
          left: -58px;
          content: ''; }
          @media all and (max-width: 1200px) {
            #hootsuite-hub .hootsuite-rating-content-item-box::before {
              left: 110px; } }
          @media (max-width: 768px) {
            #hootsuite-hub .hootsuite-rating-content-item-box::before {
              height: 163px;
              width: 94%;
              left: 50%;
              transform: translateX(-84%);
              top: -99px;
              max-width: 400px; } }
          @media (max-width: 599px) {
            #hootsuite-hub .hootsuite-rating-content-item-box::before {
              width: 100%; } }
        #hootsuite-hub .hootsuite-rating-content-item-box-img {
          position: absolute;
          top: -51px;
          left: 50%;
          transform: translate(-50%);
          max-width: 79px; }
          @media (min-width: 1200px) {
            #hootsuite-hub .hootsuite-rating-content-item-box-img {
              max-width: 106px;
              top: -70px; } }
        #hootsuite-hub .hootsuite-rating-content-item-box-title {
          font-weight: 800;
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -0.02em;
          color: #000;
          margin-bottom: 20px;
          text-align: center; }
          @media (min-width: 1200px) {
            #hootsuite-hub .hootsuite-rating-content-item-box-title {
              margin-bottom: 48px; } }
      #hootsuite-hub .hootsuite-rating-content-item.active {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 40px;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        left: 0;
        width: 100%;
        z-index: 1; }
        @media (min-width: 1200px) {
          #hootsuite-hub .hootsuite-rating-content-item.active {
            grid-template-columns: 1.5fr 1fr;
            grid-column-gap: 160px;
            justify-content: center;
            grid-template-rows: 500px; } }
        #hootsuite-hub .hootsuite-rating-content-item.active .hootsuite-rating-content-item-text {
          opacity: 1; }
        #hootsuite-hub .hootsuite-rating-content-item.active .hootsuite-rating-content-stars-img {
          transform: scale(0.7); }
          @media (min-width: 1200px) {
            #hootsuite-hub .hootsuite-rating-content-item.active .hootsuite-rating-content-stars-img {
              transform: scale(1); } }
      #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-progress {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 101px; }
        #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-progress-text {
          font-weight: 900;
          line-height: 40px;
          font-size: 35px;
          letter-spacing: -0.01em;
          color: #212e44;
          position: absolute;
          top: 34px;
          margin-bottom: 0;
          font-size: 35px !important; }
          @media (min-width: 1200px) {
            #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-progress-text {
              font-size: 50px;
              line-height: 50px;
              text-align: center; } }
          @media (min-width: 1200px) {
            #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-progress-text {
              font-size: 50px !important;
              top: 27px; } }
      #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-content {
        position: relative; }
        #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-content-title {
          margin-top: 24px;
          font-weight: 800;
          font-size: 24px;
          margin-bottom: 8px; }
        #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-content-subtitle {
          color: #5d6a82;
          font-size: 17px;
          margin-bottom: 37px; }
        #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-content-stars-img {
          position: absolute;
          bottom: -20px;
          right: -133px;
          transform: scale(0);
          transition: transform 0.7s ease; }
          @media (min-width: 1200px) {
            #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-content-stars-img {
              bottom: 0px;
              right: -239px; } }
        #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-content-footer {
          color: #5d6a82; }
          #hootsuite-hub .hootsuite-rating-content-item .hootsuite-rating-content-footer span {
            text-decoration: underline;
            font-weight: bold; }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-pricing-content .hootsuite-rating-content-item-box {
        background: #f6f8ff; }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-pricing-content .hootsuite-rating-content-item-text-btn::after {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.25' y1='7.75' x2='17.75' y2='7.75' stroke='rgb(122,102,240)' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='M16 2L20 7.5L16 13' stroke='rgb(122,102,240)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-pricing-content .hootsuite-rating-progress-text,
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-pricing-content .hootsuite-rating-content-title,
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-pricing-content .hootsuite-rating-content-item-text-btn {
        color: #7a66f0; }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-pricing-content .hootsuite-rating-content-item-text-btn {
        box-shadow: 0px 19px 40px -10px #dbe3ff; }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-review-content .hootsuite-rating-content-item-box {
        background: #fff8fd; }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-review-content .hootsuite-rating-content-item-text-btn::after {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.25' y1='7.75' x2='17.75' y2='7.75' stroke='rgb(251,137,192)' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='M16 2L20 7.5L16 13' stroke='rgb(251,137,192)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-review-content .hootsuite-rating-progress-text,
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-review-content .hootsuite-rating-content-title,
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-review-content .hootsuite-rating-content-item-text-btn {
        color: #fb89c0; }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-review-content .hootsuite-rating-content-item-text-btn {
        box-shadow: 0px 19px 40px -10px #fff8fd; }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-competitors-content .hootsuite-rating-content-item-box {
        background: #fff9f4; }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-competitors-content .hootsuite-rating-progress-text,
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-competitors-content .hootsuite-rating-content-title,
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-competitors-content .hootsuite-rating-content-item-text-btn {
        color: #ff6726; }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-competitors-content .hootsuite-rating-content-item-text-btn {
        box-shadow: 0px 19px 40px -10px #ffe0d2; }
      #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-competitors-content .hootsuite-rating-content-stars-img {
        right: -56px; }
        @media (min-width: 1200px) {
          #hootsuite-hub .hootsuite-rating-content-item.hootsuite-rating-competitors-content .hootsuite-rating-content-stars-img {
            right: -100px; } }

#hootsuite-hub .hootsuite-testimonials {
  margin: 80px 0 150px 50px; }
  @media (min-width: 1400px) {
    #hootsuite-hub .hootsuite-testimonials {
      margin: 25px 0 150px 186px; } }
  @media (max-width: 991px) {
    #hootsuite-hub .hootsuite-testimonials {
      margin: 70px 0 100px 20px; } }
  #hootsuite-hub .hootsuite-testimonials-header {
    margin: 0 0 80px 120px;
    display: grid;
    align-items: center;
    grid-template-columns: 700px 100px;
    justify-content: space-between; }
    @media (max-width: 991px) {
      #hootsuite-hub .hootsuite-testimonials-header {
        margin: 0 0 40px 0;
        grid-template-columns: auto;
        padding-left: 10px; } }
  #hootsuite-hub .hootsuite-testimonials-title {
    font-weight: 900;
    line-height: 40px;
    font-size: 35px;
    letter-spacing: -0.01em;
    color: #212e44;
    text-align: left !important; }
    @media (min-width: 1200px) {
      #hootsuite-hub .hootsuite-testimonials-title {
        font-size: 50px;
        line-height: 50px;
        text-align: center; } }
  #hootsuite-hub .hootsuite-testimonials .testimonial {
    padding: 43px;
    border-radius: 10px;
    max-width: 395px;
    margin: 10px; }
    @media (max-width: 991px) {
      #hootsuite-hub .hootsuite-testimonials .testimonial {
        padding: 20px; } }
    #hootsuite-hub .hootsuite-testimonials .testimonial-header {
      position: relative; }
      #hootsuite-hub .hootsuite-testimonials .testimonial-header-img {
        position: absolute;
        right: -10px;
        top: 0; }
      #hootsuite-hub .hootsuite-testimonials .testimonial-header-title {
        color: #212e44;
        font-weight: 800;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 8px; }
      #hootsuite-hub .hootsuite-testimonials .testimonial-header-company {
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 16px; }
    #hootsuite-hub .hootsuite-testimonials .testimonial-text {
      line-height: 25px;
      margin-bottom: 0; }
      #hootsuite-hub .hootsuite-testimonials .testimonial-text-btn {
        font-weight: bold; }
    #hootsuite-hub .hootsuite-testimonials .testimonial div > div {
      margin: 0 20px; }
    #hootsuite-hub .hootsuite-testimonials .testimonial .long {
      opacity: 0;
      height: 0;
      width: 0;
      position: absolute;
      transition: opacity 300ms ease;
      height: 100ms ease;
      position: 100ms ease;
      z-index: -1; }
  #hootsuite-hub .hootsuite-testimonials div > div:nth-child(1n) .testimonial {
    background: #f3faff; }
    #hootsuite-hub .hootsuite-testimonials div > div:nth-child(1n) .testimonial .testimonial-header-company,
    #hootsuite-hub .hootsuite-testimonials div > div:nth-child(1n) .testimonial .testimonial-text-btn {
      color: #3a9efe; }
  #hootsuite-hub .hootsuite-testimonials div > div:nth-child(2n) .testimonial {
    background: #fff7f3; }
    #hootsuite-hub .hootsuite-testimonials div > div:nth-child(2n) .testimonial .testimonial-header-company,
    #hootsuite-hub .hootsuite-testimonials div > div:nth-child(2n) .testimonial .testimonial-text-btn {
      color: #ff6726; }
  #hootsuite-hub .hootsuite-testimonials div > div:nth-child(3n) .testimonial {
    background: #f6f8ff; }
    #hootsuite-hub .hootsuite-testimonials div > div:nth-child(3n) .testimonial .testimonial-header-company,
    #hootsuite-hub .hootsuite-testimonials div > div:nth-child(3n) .testimonial .testimonial-text-btn {
      color: #7a66f0; }
  #hootsuite-hub .hootsuite-testimonials div > div:nth-child(4n) .testimonial {
    background: rgba(208, 251, 240, 0.5); }
    #hootsuite-hub .hootsuite-testimonials div > div:nth-child(4n) .testimonial .testimonial-header-company,
    #hootsuite-hub .hootsuite-testimonials div > div:nth-child(4n) .testimonial .testimonial-text-btn {
      color: #2fd9c4; }
  #hootsuite-hub .hootsuite-testimonials-arrows {
    position: relative;
    top: -60px;
    left: -182px; }
    @media (max-width: 991px) {
      #hootsuite-hub .hootsuite-testimonials-arrows {
        display: none; } }
  #hootsuite-hub .hootsuite-testimonials .hootsuite-testimonials-arrows-prev,
  #hootsuite-hub .hootsuite-testimonials .hootsuite-testimonials-arrows-next {
    box-shadow: 0px 0px 3px -1px #b5afaf;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px; }
    #hootsuite-hub .hootsuite-testimonials .hootsuite-testimonials-arrows-prev:hover,
    #hootsuite-hub .hootsuite-testimonials .hootsuite-testimonials-arrows-next:hover {
      cursor: pointer; }
    #hootsuite-hub .hootsuite-testimonials .hootsuite-testimonials-arrows-prev::before,
    #hootsuite-hub .hootsuite-testimonials .hootsuite-testimonials-arrows-next::before {
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      width: 17px;
      height: 17px;
      content: '';
      position: relative; }
  #hootsuite-hub .hootsuite-testimonials .hootsuite-testimonials-arrows-next {
    left: 0;
    border: 1px solid #3a9efe; }
    #hootsuite-hub .hootsuite-testimonials .hootsuite-testimonials-arrows-next::before {
      left: 1px;
      background-image: url("/assets/testimonials-slider-arrow-next.svg"); }
  #hootsuite-hub .hootsuite-testimonials .hootsuite-testimonials-arrows-prev {
    right: 0;
    background: #3a9efe; }
    #hootsuite-hub .hootsuite-testimonials .hootsuite-testimonials-arrows-prev::before {
      left: 3px;
      background-image: url("/assets/slider-arrow-prev.svg"); }

#hootsuite-hub .hootsuite-social-media-cta {
  background: #fff8fd;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center; }
  @media (max-width: 768px) {
    #hootsuite-hub .hootsuite-social-media-cta {
      grid-template-columns: auto;
      padding: 24px; } }
  #hootsuite-hub .hootsuite-social-media-cta-img-desktop {
    display: block; }
    @media (max-width: 768px) {
      #hootsuite-hub .hootsuite-social-media-cta-img-desktop {
        display: none; } }
  #hootsuite-hub .hootsuite-social-media-cta-img-mobile {
    display: none; }
    @media (max-width: 768px) {
      #hootsuite-hub .hootsuite-social-media-cta-img-mobile {
        display: block; } }
  #hootsuite-hub .hootsuite-social-media-cta-img img {
    width: 100%; }
  #hootsuite-hub .hootsuite-social-media-cta-content {
    margin-left: -50px; }
    @media (max-width: 768px) {
      #hootsuite-hub .hootsuite-social-media-cta-content {
        margin-left: 0; } }
    #hootsuite-hub .hootsuite-social-media-cta-content-title {
      font-weight: 900;
      line-height: 40px;
      font-size: 35px;
      letter-spacing: -0.01em;
      color: #212e44;
      text-align: left !important;
      margin-bottom: 30px; }
      @media (min-width: 1200px) {
        #hootsuite-hub .hootsuite-social-media-cta-content-title {
          font-size: 50px;
          line-height: 50px;
          text-align: center; } }
    #hootsuite-hub .hootsuite-social-media-cta-content-btn {
      background: #fb89bf; }

#hootsuite-hub + footer#footer {
  padding-top: 75px; }


/*# sourceMappingURL=hootsuite_hub.css.map*/