body.has-hero-video #hero {
  box-sizing: border-box;
  padding-top: 176px; }

body.has-hero-video #hero {
  display: grid;
  height: 850px; }
  body.has-hero-video #hero video {
    position: absolute;
    z-index: 1;
    object-fit: fill;
    width: 1440px;
    height: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  body.has-hero-video #hero .container {
    z-index: 2; }

body.has-hero-video.reporting #hero video, body.has-hero-video.monitoring #hero video, body.has-hero-video.publishing #hero video {
  left: auto;
  transform: none;
  right: 0; }

@media (min-width: 1200px) {
  body.has-hero-video #hero {
    height: 700px; }
    body.has-hero-video #hero video {
      top: unset;
      bottom: 0; } }

@media (max-width: 599px) {
  body.has-hero-video #hero {
    height: auto;
    padding-top: 160px !important;
    padding-bottom: 300px; }
    body.has-hero-video #hero video {
      top: auto;
      bottom: 0;
      width: 100%;
      height: auto; } }

body.has-hero-video #hero {
  padding: 170px 0 80px 0;
  margin-bottom: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right -64px bottom -64px;
  padding-top: 196px; }
  @media (max-width: 599px) {
    body.has-hero-video #hero {
      background-size: 150%;
      background-position: center bottom;
      padding-top: 80px;
      padding-bottom: 350px; } }
  body.has-hero-video #hero .container {
    padding-left: 120px; }
  body.has-hero-video #hero header small {
    display: block;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    color: #344563;
    font-weight: 700;
    font-style: normal; }
  body.has-hero-video #hero header h1,
  body.has-hero-video #hero header h2 {
    max-width: 620px;
    font-size: 65px;
    line-height: 64px;
    letter-spacing: -0.01em;
    font-weight: 900;
    margin-bottom: 40px; }
    body.has-hero-video #hero header h1 em,
    body.has-hero-video #hero header h2 em {
      font-style: normal; }
  body.has-hero-video #hero header p {
    max-width: 395px;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 40px; }
  @media (max-width: 599px) {
    body.has-hero-video #hero header {
      width: 100%; }
      body.has-hero-video #hero header h1,
      body.has-hero-video #hero header h2 {
        font-size: 43px;
        line-height: 43px;
        margin-bottom: 20px; }
      body.has-hero-video #hero header p {
        font-size: 16px;
        line-height: 23px; } }
  body.has-hero-video #hero footer a.hero-button {
    margin-bottom: 16px; }
  body.has-hero-video #hero footer small {
    display: block;
    font-size: 16px;
    color: #344563; }
  @media (max-width: 599px) {
    body.has-hero-video #hero footer small {
      font-size: 12px;
      line-height: 28px; } }
  @media (max-width: 768px) {
    body.has-hero-video #hero .container {
      padding: 0 40px; } }
  @media (max-width: 599px) {
    body.has-hero-video #hero footer a.hero-button {
      width: 80%; } }


/*# sourceMappingURL=modules_hero.css.map*/