#social-media-reporting #hero {
  padding-top: 196px;
  position: relative;
  padding-bottom: 300px; }

#social-media-reporting .feature-text p {
  margin-bottom: 0; }

@media (max-width: 768px) {
  #social-media-reporting .feature-text p {
    margin-bottom: 32px;
    width: 90%;
    max-width: 90% !important; } }

@media (min-width: 1200px) {
  #social-media-reporting section#screenshots .container {
    padding-bottom: 60px; } }

#social-media-reporting .text-blocks {
  padding: 80px 0; }
  #social-media-reporting .text-blocks h3.black-section-title {
    text-align: center; }
  #social-media-reporting .text-blocks .module {
    display: flex;
    padding-bottom: 60px;
    justify-content: space-around;
    align-items: center; }
    #social-media-reporting .text-blocks .module .module-text {
      width: 50%;
      max-width: 50%;
      flex: 1;
      padding: 0 80px; }
      #social-media-reporting .text-blocks .module .module-text h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px; }
    #social-media-reporting .text-blocks .module .module-img {
      align-items: flex-start;
      padding: 0;
      max-width: 50%; }
    #social-media-reporting .text-blocks .module.text-block-center {
      flex-direction: column;
      text-align: center;
      padding: 0; }
      #social-media-reporting .text-blocks .module.text-block-center .module-text {
        width: auto;
        max-width: 720px; }
      #social-media-reporting .text-blocks .module.text-block-center .module-img {
        max-width: 50%;
        margin: 0 0 40px 0; }
  #social-media-reporting .text-blocks.single h3.black-section-title {
    text-align: left; }
  @media (max-width: 599px) {
    #social-media-reporting .text-blocks {
      padding: 40px 0; }
      #social-media-reporting .text-blocks h3.black-section-title {
        text-align: left; }
      #social-media-reporting .text-blocks .module {
        flex-direction: column;
        padding: 20px 0 0 0;
        margin-bottom: 20px; }
        #social-media-reporting .text-blocks .module.text-block-left {
          flex-direction: column-reverse; }
        #social-media-reporting .text-blocks .module .module-text,
        #social-media-reporting .text-blocks .module .module-img {
          width: 100%;
          max-width: 100%;
          padding: 0;
          margin-bottom: 40px; }
        #social-media-reporting .text-blocks .module .module-text h4 {
          font-size: 20px;
          line-height: 23px; }
        #social-media-reporting .text-blocks .module .module-text p {
          font-size: 16px;
          line-height: 23px; } }

#social-media-reporting #discover,
#social-media-reporting #discover-mobile-only {
  -webkit-user-select: none;
          user-select: none;
  padding: 80px 0; }
  #social-media-reporting #discover h3,
  #social-media-reporting #discover-mobile-only h3 {
    margin-left: 80px; }
  #social-media-reporting #discover .module,
  #social-media-reporting #discover-mobile-only .module {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    margin-left: -24px;
    margin-top: -24px; }
    @media (max-width: 599px) {
      #social-media-reporting #discover .module,
      #social-media-reporting #discover-mobile-only .module {
        flex-direction: column; } }
  #social-media-reporting #discover article,
  #social-media-reporting #discover-mobile-only article {
    margin-left: 24px;
    margin-top: 24px;
    width: calc(33.33333% - 24px);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #social-media-reporting #discover article.discover-inbox,
    #social-media-reporting #discover-mobile-only article.discover-inbox {
      background-color: #fff7f3; }
    #social-media-reporting #discover article.discover-monitoring,
    #social-media-reporting #discover-mobile-only article.discover-monitoring {
      background-color: #f3fffe; }
    #social-media-reporting #discover article.discover-reporting,
    #social-media-reporting #discover-mobile-only article.discover-reporting {
      background-color: #f3faff; }
    #social-media-reporting #discover article.discover-publishing,
    #social-media-reporting #discover-mobile-only article.discover-publishing {
      background-color: #f6f8ff; }
    #social-media-reporting #discover article img,
    #social-media-reporting #discover-mobile-only article img {
      margin-left: -40px;
      margin-right: auto;
      margin-top: -64px;
      margin-bottom: 32px;
      max-width: 120%;
      display: block; }
    #social-media-reporting #discover article h4,
    #social-media-reporting #discover-mobile-only article h4 {
      font-weight: 800;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.005em;
      margin-bottom: 24px;
      white-space: nowrap; }
    #social-media-reporting #discover article p,
    #social-media-reporting #discover-mobile-only article p {
      margin-bottom: 40px; }
    @media (max-width: 599px) {
      #social-media-reporting #discover article,
      #social-media-reporting #discover-mobile-only article {
        width: 100%;
        max-width: 100%;
        margin: 0; } }
  @media (max-width: 768px) {
    #social-media-reporting #discover,
    #social-media-reporting #discover-mobile-only {
      padding: 40px 0; }
      #social-media-reporting #discover h3,
      #social-media-reporting #discover-mobile-only h3 {
        margin-left: 0; }
      #social-media-reporting #discover .module,
      #social-media-reporting #discover-mobile-only .module {
        margin-top: 45px;
        margin-left: 0; }
      #social-media-reporting #discover article,
      #social-media-reporting #discover-mobile-only article {
        width: 100%;
        text-align: center;
        margin-bottom: 45px; }
        #social-media-reporting #discover article img,
        #social-media-reporting #discover-mobile-only article img {
          padding: 0%;
          margin: 0 auto;
          max-width: 100%; }
        #social-media-reporting #discover article h4,
        #social-media-reporting #discover-mobile-only article h4 {
          white-space: normal; } }
  @media (max-width: 599px) {
    #social-media-reporting #discover,
    #social-media-reporting #discover-mobile-only {
      display: none; }
      #social-media-reporting #discover h4,
      #social-media-reporting #discover p,
      #social-media-reporting #discover footer,
      #social-media-reporting #discover-mobile-only h4,
      #social-media-reporting #discover-mobile-only p,
      #social-media-reporting #discover-mobile-only footer {
        text-align: left; }
      #social-media-reporting #discover .module,
      #social-media-reporting #discover-mobile-only .module {
        margin-top: -24px; } }

#social-media-reporting #discover-mobile-only {
  display: none; }
  @media (max-width: 599px) {
    #social-media-reporting #discover-mobile-only {
      display: block; }
      #social-media-reporting #discover-mobile-only .module {
        overflow-y: hidden;
        overflow-x: auto;
        height: 600px; }
        #social-media-reporting #discover-mobile-only .module article {
          width: 80%;
          margin-right: 16px; } }
  @media (max-width: 375px) {
    #social-media-reporting #discover-mobile-only .module article {
      padding-left: 0;
      padding-right: 0; }
      #social-media-reporting #discover-mobile-only .module article header {
        padding-left: 20px;
        padding-right: 20px; }
      #social-media-reporting #discover-mobile-only .module article footer {
        text-align: center; } }


/*# sourceMappingURL=social_media_reporting.css.map*/